myenv
renaming_reports.py
translate_reports/.env
translate_reports/reports_de
translate_reports/reports_en

first_iteration/myenv
first_iteration/.env
first_iteration/try.py
first_iteration/reports_en
first_iteration/ontologies
first_iteration/ontology_graphs
first_iteration/guidelines
first_iteration/thinking_traces
first_iteration/first_iteration_outputs
first_iteration/json2graph.py
first_iteration/__pycache__

second_iteration/__pycache__
second_iteration/guidelines
second_iteration/ontologies
second_iteration/ontology_graphs
second_iteration/reports_en
second_iteration/thinking_traces
second_iteration/.env
second_iteration/json2graph.py
second_iteration/try.py

third_iteration/__pycache__
third_iteration/guidelines
third_iteration/ontologies
third_iteration/ontology_graphs
third_iteration/reports_en
third_iteration/thinking_traces
third_iteration/.env
third_iteration/json2graph.py
third_iteration/try.py
third_iteration/try2.py
